<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="application.js"></script>
  </head>

  <body>
    <%= form_tag '/survey', method: 'post' do %>
    <select name="foodstyle_category_id">
      <% @foodstyle_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Envoyez votre choix"/>
  <% end %>

</body>
