<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @autocomplete.address %>
</p>


<%= link_to 'Edit', edit_autocomplete_path(@autocomplete) %> |
<%= link_to 'Back', autocompletes_path %>
