<body class="homepage">
<div class="text">
  <p> <strong>Aide ton resto à évoluer :</strong></p>
    <p><small>Que tu sois vegan, végé, gluten-free, omnivore, grainovore ou fumeur d'épices du Nord de l'Italie, <strong>PimpMyResto</strong> est le lieu où tu peux motiver les restaurateurs à partager tes passions et tes envies. Fais de ce monde un monde plus à toi !</small></p>
    <p id="green_text">#Love #GreenIsTheNewBlack #Irina #RussianPower #PimpMyResto</p>
</div>

<div id="button">
  <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='/users/sign_up'">Take Action!</button>
</div>

</body>
