<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Accueil PimpMyResto</title>
	</head>

	<body>

		<header>
			<div class="backjpg">
				<div class="transbox">
					<div class="pimpmy">
						<div class="container">
							<div class="row">
								<div class="toplogo">
									<div class="col-md-12">
										<img class="logo" alt="logo PimpMyResto" src="logo.png" style="width:1020px;height:auto;">
									</div>
								</div>
							</div>
							<div class="middleText">
								<div class="col-md-12">
									<h1><b>Aide ton resto à évoluer :</b><br /></h1>
									<p>Que tu sois vegan, végé, gluten-free, omnivore, grainovore ou fumeur d'épices du Nord de l'Italie, PimpMyResto est le lieu où tu peux <b>motiver les restaurateurs</b> à partager tes passions et tes envies.<br />
									Fais de ce monde un monde plus à toi !</p>	
								</div>
							</div>
							<div class="col-md-12">
								<img class="arrowHome" alt="Arrow Home" src="home-page-line@3x.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>