<body class="homepage">
<div class="text">
  <p> <strong>Aide ton resto à évoluer :</strong></p>
</div>

<div id="button">
  <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='/users/sign_up'">Take Action!</button>
</div>

</body>
