<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="home.scss">
  </head>
  
  <body>
    <div class="text">
      <h3>À propos de Pimp My Resto</h3>
        <br>
        <p>Salut a toi, et bienvenue sur notre site dedier aux "gens bizarres" comme toi, qui dispose d'un regime alimentaire particulier... Ici on peux te proposer d'accompagner tes potes au resto dans celui qu'ils préfèrent! Depuis longtemps malgré toi tu les empêches d'y aller, car il n'y a pas de plats adapter pour toi. Nous te porposons de créer une action dès maintenant pour demander à un retaurant d'incrémenter des plats plus responsables et adapter! C'est parti!</p>
    </div>
  

  
      <br>
    <!-- Button -->
    <div id="button">
      <button type="button" class="btn btn-outline-info" onclick="window.location.href='/survey'">Take Action!</button>

  </div>



  </body>
</html>
