<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Accueil PimpMyResto</title>
	</head>

	<body>

		<header>
			<div class="backjpg">
				<div class="transbox">
					<div class="pimpmy">
						<div class="container">
							<div class="row">
								<div class="toplogo">
									<div class="col-md-12">
										<img class="logo" alt="logo PimpMyResto" src="logo.png" style="width:1000px;height:auto;">
									</div>
								</div>
							</div>
							<div class="middleText">
								<div class="col-md-12">
									<h1><b>Aide ton resto à évoluer :</b><br /></h1>
									<p>Que tu sois vegan, végé ou gluten-free, PimpMyResto est le lieu où tu peux <b style="font-size:120%;">motiver les restaurateurs</b> à partager tes passions et tes envies.<br /></p>
									<div class="accroche">
										<p>Fais de ce monde un monde plus à toi !</p>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<img class="arrowHome" alt="Arrow Home" src="home-page-line@3x.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<a href="/users/sign_up" class="buttonHomePage">
			<div class="container">
				<div class="row">
					<div class="col">
						<button type="button" class="btn btn-primary btn-lg">Lance ton enquête</button>
					</div>
				</div>
			</div>
		</a>

		<hr/>

		<div class="ThreeComments">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="choisistonresto">
							<img class="directionsimplelineicons" src="home-page-direction---simple-line-icons@2x.png"/>
							<div class="ThreeCommentsTitle">
								Choisis ton resto
							</div>
							<div class="s351lectionneunresto">
								Sélectionne un resto que tu apprécies mais où tu ne peux pas toujours manger
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="proposeuneaction">
							<img class="bellsimplelineicons" src="home-page-bell---simple-line-icons@2x.png"/>
							<div class="ThreeCommentsTitle">
								Propose une action
							</div>
							<div class="participe340l351volut">
								Participe à l'évolution du resto pour correspondre à tes attentes
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="soiscommeirina">
							<img class="handpeacefontawesome" src="home-page-hand-peace---fontawesome@2x.png"/>
							<div class="ThreeCommentsTitle">
								Continue de vivre
							</div>
							<div class="appr351ciedesmoments">
								Apprécie des moments entre amis sans jamais être limité par ta volonté de manger
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>