<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="home.scss">
  </head>
  <body>
    <!-- Button -->
    <div id="button">
      <button type="button" class="btn btn-outline-info" onclick="window.location.href='/survey'">Let's create a survey!</button>
    </div>
    <%= render 'layouts/caroussel' %>

    <%= render 'layouts/map' %>

  </body>
