<!-- <div id="button">
  <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='/users/sign_up'">Take Action!</button>
</div>
 -->

<!DOCTYPE html>
<html>
    <head>
<!--         <link href="favicon.png" rel="shortcut icon"/>
 -->        <meta charset="utf-8"/>
        <meta content="width=1024, maximum-scale=1.0" name="viewport"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0; background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="homepage"/>

        <div id="Tvv6NyW">
            <div class="homepage homepage-yW88 component state1" data-initial-state="state1">
                <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                    <div class="header">
                        <img class="carrotscucumberdelicious1640777" src="homePageImg.png">
                            <img class="pimpmyresto" src="home-page-pimpmyresto@3x.png">
                                <img class="aidetonresto340351vo" src="home-page-aide-ton-resto-340-351vo@3x.png">
                                    <img class="line" src="home-page-line@3x.png"/>
                                </img>
                            </img>
                        </img>
                    </div>
                    <a href="/users/sign_up">
                        <div class="calltoaction">
                            <img class="rectangle" src="home-page-rectangle@2x.png">
                                <div class="lancetonenqu352te">
                                    Lance ton enquête
                                </div>
                            </img>
                        </div>
                    </a>
                    <div class="choisistonresto">
                        <div class="choisistonresto1">
                            Choisis ton resto
                        </div>
                        <div class="s351lectionneunresto">
                            Sélectionne un resto que tu apprécies mais où tu ne peux pas toujours manger
                        </div>
                        <img class="directionsimplelineicons" src="home-page-direction---simple-line-icons@2x.png"/>
                    </div>
                    <div class="proposeuneaction">
                        <div class="participe340l351volut">
                            Participe à l'évolution du resto pour correspondre à tes attentes
                        </div>
                        <div class="proposeuneaction1">
                            Propose une action
                        </div>
                        <img class="bellsimplelineicons" src="home-page-bell---simple-line-icons@2x.png"/>
                    </div>
                    <div class="soiscommeirina">
                        <div class="continuedevivre">
                            Continue de vivre
                        </div>
                        <div class="appr351ciedesmoments">
                            Apprécie des moments entre amis sans jamais être limité par ta volonté de manger
                        </div>
                        <img class="handpeacefontawesome" src="home-page-hand-peace---fontawesome@2x.png"/>
                    </div>
                    <a href="/">
                        <div class="restaurants">
                            <div class="group">
                                <img class="anniespratt215756unsplash" src="lances-ton-enquete-annie-spratt-215756-unsplash.png">
                                    <img class="tylernix489782unsplash" src="lances-ton-enquete-tyler-nix-489782-unsplash.png">
                                        <img class="brookelark194252unsplash" src="lances-ton-enquete-brooke-lark-194252-unsplash.png">
                                            <div class="numa311">
                                                NUMAÉ
                                            </div>
                                            <div class="jumparena">
                                                JUMP ARENA
                                            </div>
                                            <div class="numa">
                                                NUMA
                                            </div>
                                        </img>
                                    </img>
                                </img>
                            </div>
                            <div class="p351titionsencourel">
                                <span class="span1">
                                    Pétitions en cour
                                    <br/>
                                </span>
                                <span class="span2">
                                    Elles n’attendent plus que toi
                                </span>
                            </div>
                        </div>
                    </a>
                    <img class="line2copy" src="home-page-line-2-copy@3x.png">
                        <img class="line2copy2" src="lances-ton-enquete-line-2-copy-2@3x.png"/>
                    </img>
                </div>
            </div>
        </div>
    </body>
</html>