<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="home.scss">
  </head>

  <header>
    <!-- Button -->

  </header>
  <body class="homepage">
    <div class="text">
      <h1>À propos de Pimp My Resto</h1>
      <br>
      <p id="txtcentral">Salut toi, et bienvenue sur notre site dédier aux "gens bizarres" comme toi, qui dispose d'un regime alimentaire particulier... Ici on te propose d'accompagner tes potes dans le resto de leur choix avec moins de difficultées!
        Depuis longtemps, malgré toi, tu les empêches d'y aller, car il n'y a pas de plats adapter pour toi. Alors réagis car nous te porposons de créer une action dès maintenant pour demander à un retaurateur d'incrémenter des plats plus responsables et
        adapter à des regimes spéciaux! C'est parti!</p>
    </div>

    <div id="button">
      <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='/users/sign_up'">Take Action!</button>
    </div>

  </body>
</html>
