<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="home.scss">
  </head>

  <header></header>

  <body>
    <div class="text">
      <h3>À propos de Pimp My Resto</h3>
      <br>
      <%= @pitch %>
    </div>
    <br>
    <!-- Button -->
    <div id="button">
      <button type="button" class="btn btn-outline-info" onclick="window.location.href='/survey'">Take Action!</button>

    </div>

  </body>
</html>
