<!-- Page Content -->
<div class="container_team">

  <!-- Introduction Row -->
  <h1 class="my-4">A propos de l'équipe</h1>
  <h2>N'hésite pas à échanger avec nous !</h2>

  <div class="text-presentation">
    <p>Avec chacune des préférences culinaires, on s'est aperçu que dès que quelqu'un de notre entourage avait des envies ou des besoins qui sortaient de "l'ordinaire", trouver un restaurant pour déjeuner tous ensemble devenait un parcours du combattant.</p>
    <p>On a donc commencé à questionner les restaurateurs du quartier sur l'idée d'intégrer dans leur menu des plats répondants aux nouvelles tendances et attentes de leurs clients.</p>
  </div>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Notre équipe</h2>
    </div>

    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="popo_avatar.jpg" alt="">
      <h3>Pauline
      </h3>
      <p>Je suis Popo</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="victor_avatar.jpg" alt="">
      <h3>Victor
      </h3>
      <p>Je rêve de devenir vegan</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="irina_avatar.jpg" alt="">
      <h3>Irina
      </h3>
      <p>Da</p>
    </div>
  </div>
</div>
<!-- /.container -->
