<!DOCTYPE html>
<html>

  <body>
    <div class="bodycard">
      <div class="row">
        <div class="card">
          <img class="card-avatar" src="avatar_popo.jpg" alt="Avatar">

          <div class="container">

            <h2>
              <b>Pauline</b>
            </h2>
            <p>Je suis Popo.</p>
          </div>
        </div>

        <div class="card">
          <img class="card-avatar" src="avatar_vegan.jpg" alt="Avatar">

          <div class="container">

            <h2>
              <b>Victor</b>
            </h2>
            <p>Je voudrais bien devenir vegan un jour!</p>
          </div>
        </div>

        <div class="card">
          <img class="card-avatar" src="avatar_cupidon2.jpg" alt="Avatar">

          <div class="container">

            <h2>
              <b>Irina</b>
            </h2>
            <p>Da.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
