<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="foodstyle.scss">
  </head>
  <body>

<body>
  
<!-- FOOD STYLE BUTTONS-->
	<div class="elementbutton" >
        <button type="button" class="btn btn-outline-primary">Vegan</button>
        <button type="button" class="btn btn-outline-primary">Veggie</button>
        <button type="button" class="btn btn-outline-primary">Gluten Free</button>
        <button class="continue" href="/foodstyle"><%= link_to "Continue", survey_path%></button>
	</div>

</body>
