<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="resto.scss">
  </head>
  <body>

<h3>Choisis ton resto pour demarrer ta demande :</h3>
</br>
<%= render 'layouts/map' %>

<button class="continue" href="/foodstyle"><%= link_to "Continue", foodstyle_path%></button>
</body>