<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="application.js"></script>
</head>

<body>
	<div class="allbutton">
	<!-- LOCATION BUTTONS-->
	<div class="localisaion">
		<h3> Location </h3>  
		<button type="button" class="btn btn-outline-primary"> "< 1km" </button>
		<button type="button" class="btn btn-outline-primary">"1 - 2 km"</button>
		<button type="button" class="btn btn-outline-primary">"> 2km" </button>
	</div>
	<br>
	<br>

	<!-- BUDGET BUTTONS-->
	<div class="budget">
		<h3> Budget </h3>  
		<button type="button" class="btn btn-outline-primary"> "5-7€" </button>
		<button type="button" class="btn btn-outline-primary">"8-10€"</button>
		<button type="button" class="btn btn-outline-primary">"> 10€" </button>
	</div>
	<br>
	<br>

	<!-- MEAL TYPE BUTTONS-->
	<div class="meal">
		<h3> Type de repas </h3>  
		<button type="button" class="btn btn-outline-primary"> "Petit Dejeuner" </button>
		<button type="button" class="btn btn-outline-primary">"Dejeuner"</button>
		<button type="button" class="btn btn-outline-primary">"Dîner" </button>
		<button type="button" class="btn btn-outline-primary">"Brunch" </button>
	</div>
	<button class="continue" href="/foodstyle"><%= link_to "Continue", user_session_path%></button>
</div>

</body>

