<h1>Restos#create</h1>
<p>Find me in app/views/restos/create.html.erb</p>

<%= form_tag "/restos/create", method: "post" do %>
  <input type="text" name="resto_name"/>
  <input type="text" name="resto_address"/>
  <input type="submit" value="Ajoutez le resto"/>
<% end  %>
