
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Accueil PimpMyResto</title>
	</head>
	

	<body>

		<h2>Restaurants</h2>

		<p><% @the_restos.each do |resto|  %></p>
		<p><a href="/restos/<%= resto.id %>"><%= resto.name %></a>
		<% end %>
		</p>

	</body>
</html>