<h1 class="mb-5">Recherche le resto qui t'intéresse:</h1>

<%= form_tag "/restos/create", method: "post" do %>
<input class="rounded" type="text" name="name" placeholder="Choisis ton resto..." value="<%@resto.name%>" id="autocomplete_name"/>
<p><%= @resto.errors[:name].first %></p>
<input type="hidden" name="address"/>
<p><%= @resto.errors[:address].first %></p>
<input type="hidden" name="googleid" id="googleid"/>
<p><%= @resto.errors[:googleid].first %></p>
<input class="btn" type="submit" value="Recherche"/>
<% end  %>
