<h1>Restos#search</h1>
<p>Find me in app/views/restos/search.html.erb</p>

<%= form_tag "/restos/create", method: "post" do %>
  <input type="text" name="name" value ="<% @resto.name %>"/>
  <p><%= @resto.errors[:name].first  %></p>
  <input type="hidden" name="address"/>
  <p><%= @resto.errors[:address].first  %></p>
  <input type="hidden" name="googleid"/>
  <p><%= @resto.errors[:googleid].first  %></p>
  <input type="submit" value="Ajoutez le resto"/>
<% end  %>
