.footer {
	opacity: 1;


  background-color: #e8e6e6;
	padding-right: 30px;
  padding-bottom: 7px;
	padding-top: 7px;
  font-size: 17px;
}

.footer a {
	float: right;
	text-align: center;
	padding: .5em;
	color : #7a97dc;

}

.footer a:hover {
	text-decoration: none;
  background-color: #eff3f3;
  color: #0855fa;
}
