
/* Add a black background color to the top navigation */
.topnav {
  background-color: #7a97dc;
  overflow: hidden;
  margin-left: 0;
  margin-top: 0;
    .burger_menu{
      display: none;
    }
}

@media screen and (max-width: 400px){
  .topnav {
    .normal_menu{
        display: none;
      }
      .burger_menu{
        display: flex;
      }
  }
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px;
  margin-top: 8px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #eff3f3;
  color: #0855fa;
}

.user{
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  font-size: 17px;
}


.sign{
	float:right;
}

.user{
  float:right;
  text-align: center;
}

#img_carrot{
  width: 15px;
  height: 15px;
}
