
/* Add a black background color to the top navigation */
.topnav {
  background-color: #7a97dc;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #eff3f3;
  color: #0855fa;
}

.user{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}


.sign{
	float:right;
}

.text_devise{
  display:flex;
  flex-direction: row;
justify-content: flex-end;
}

.user{
  float:right;
  text-align: center;
}