

/* BOUTONS PRINCIPAUX*/
.elementbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


/* BOUTON CONTINUE*/
.continue{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
