.homepage-yW88 * {
                box-sizing          : border-box;
            }
            .homepage-yW88 {
                pointer-events      : none;
                overflow            : hidden;
                width               : 100%;
                min-width           : 1024px;
                height              : auto;
                min-height          : 1564px;
                position            : relative;
                overflow            : hidden;
                margin              : 0px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background-color    : rgba(255, 255, 255, 1.0);
            }
            .homepage-yW88 .header {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0px;
                height              : 684px;
                width               : 1027px;
                position            : absolute;
                margin              : 0;
                left                : 0px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .header .carrotscucumberdelicious1640777 {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0px;
                height              : auto;
                width               : 100%;
                position            : absolute;
                margin              : 0;
                left                : 0px;
                right               : 0px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                opacity             : 0.34;
            }
            .homepage-yW88 .header .pimpmyresto {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 5.70%;
                height              : 38.60%;
                width               : 64.85%;
                position            : absolute;
                margin              : 0;
                left                : 17.43%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .header .aidetonresto340351vo {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                right               : 8.96%;
                bottom              : 29.97%;
                height              : 33.92%;
                width               : 81.50%;
                position            : absolute;
                margin              : 0;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .header .line {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                bottom              : 2.92%;
                height              : 23.25%;
                width               : 0.97%;
                position            : absolute;
                margin              : 0;
                left                : 49.51%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .calltoaction {
                pointer-events      : auto;
                background-color    : rgba(255,255,255,0.0);
                top                 : 711px;
                height              : 41px;
                width               : 241px;
                position            : absolute;
                margin              : 0;
                left                : 392px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .calltoaction .rectangle {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0%;
                height              : 100%;
                width               : 100%;
                position            : absolute;
                margin              : 0;
                left                : 0%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .calltoaction .lancetonenqu352te {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 4.88%;
                height              : calc(0.00% + 27px);
                width               : 70.95%;
                position            : absolute;
                margin              : 0;
                left                : 13.69%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
                font-size           : 20.0px;
                color               : rgba(0, 0, 0, 1.0);
                text-align          : center;
                line-height         : 27.0px;
            }
            .homepage-yW88 .choisistonresto {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 805px;
                height              : 181px;
                width               : 261px;
                position            : absolute;
                margin              : 0;
                left                : 92px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .choisistonresto .choisistonresto1 {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 32.04%;
                height              : calc(0.00% + 49px);
                width               : 72.80%;
                position            : absolute;
                margin              : 0;
                left                : 9.58%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "BelleroseLight", Helvetica, Arial, serif;
                font-size           : 24.0px;
                color               : rgba(0, 0, 0, 1.0);
                text-align          : center;
                line-height         : 57.0px;
            }
            .homepage-yW88 .choisistonresto .s351lectionneunresto {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                bottom              : 0%;
                height              : calc(0.00% + 65px);
                width               : 100%;
                position            : absolute;
                margin              : 0;
                left                : 0%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
                font-size           : 15.0px;
                color               : rgba(0, 0, 0, 1.0);
                text-align          : center;
                line-height         : 20.0px;
            }
            .homepage-yW88 .choisistonresto .directionsimplelineicons {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0%;
                height              : 32.04%;
                width               : 19.92%;
                position            : absolute;
                margin              : 0;
                left                : 36.02%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .proposeuneaction {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 805px;
                height              : 158px;
                width               : 280px;
                position            : absolute;
                margin              : 0;
                left                : 370px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .proposeuneaction .participe340l351volut {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                bottom              : 0%;
                height              : calc(0.00% + 40px);
                width               : 100%;
                position            : absolute;
                margin              : 0;
                left                : 0%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
                font-size           : 15.0px;
                color               : rgba(0, 0, 0, 1.0);
                text-align          : center;
                line-height         : 20.0px;
            }
            .homepage-yW88 .proposeuneaction .proposeuneaction1 {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                bottom              : 32.28%;
                height              : calc(0.00% + 49px);
                width               : 67.86%;
                position            : absolute;
                margin              : 0;
                left                : 16.07%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "BelleroseLight", Helvetica, Arial, serif;
                font-size           : 24.0px;
                color               : rgba(0, 0, 0, 1.0);
                text-align          : center;
                line-height         : 57.0px;
            }
            .homepage-yW88 .proposeuneaction .bellsimplelineicons {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0%;
                height              : 36.71%;
                width               : 17.86%;
                position            : absolute;
                margin              : 0;
                left                : 41.07%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .soiscommeirina {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 805px;
                height              : 176px;
                width               : 241px;
                position            : absolute;
                margin              : 0;
                left                : 668px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .soiscommeirina .continuedevivre {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 32.39%;
                height              : calc(0.00% + 49px);
                width               : 78.84%;
                position            : absolute;
                margin              : 0;
                left                : 10.58%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "BelleroseLight", Helvetica, Arial, serif;
                font-size           : 24.0px;
                color               : rgba(0, 0, 0, 1.0);
                text-align          : center;
                line-height         : 57.0px;
            }
            .homepage-yW88 .soiscommeirina .appr351ciedesmoments {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                bottom              : 0.57%;
                height              : calc(0.00% + 57px);
                width               : 100%;
                position            : absolute;
                margin              : 0;
                left                : 0%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
                font-size           : 15.0px;
                color               : rgba(0, 0, 0, 1.0);
                text-align          : center;
                line-height         : 20.0px;
            }
            .homepage-yW88 .soiscommeirina .handpeacefontawesome {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0%;
                height              : 32.39%;
                width               : 20.33%;
                position            : absolute;
                margin              : 0;
                left                : 39.83%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .restaurants {
                pointer-events      : auto;
                background-color    : rgba(255,255,255,0.0);
                top                 : 1060px;
                height              : 450px;
                width               : 726px;
                position            : absolute;
                margin              : 0;
                left                : 144px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .restaurants .group {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0%;
                height              : 76.44%;
                width               : 100%;
                position            : absolute;
                margin              : 0;
                left                : 0%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .restaurants .group .anniespratt215756unsplash {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0%;
                height              : 100%;
                width               : 31.82%;
                position            : absolute;
                margin              : 0;
                left                : 0%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .restaurants .group .tylernix489782unsplash {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                right               : 0%;
                top                 : 0%;
                height              : 100%;
                width               : 31.82%;
                position            : absolute;
                margin              : 0;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .restaurants .group .brookelark194252unsplash {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 0%;
                height              : 100%;
                width               : 31.82%;
                position            : absolute;
                margin              : 0;
                left                : 34.09%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .restaurants .group .numa311 {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                bottom              : 5.23%;
                height              : calc(0.00% + 49px);
                width               : 30.72%;
                position            : absolute;
                margin              : 0;
                left                : 0.96%;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "BelleroseLight", Helvetica, Arial, serif;
                font-size           : 24.0px;
                color               : rgba(255, 255, 255, 1.0);
                text-align          : center;
                line-height         : 57.0px;
            }
            .homepage-yW88 .restaurants .group .jumparena {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                right               : 34.16%;
                bottom              : 5.23%;
                height              : calc(0.00% + 49px);
                width               : 30.72%;
                position            : absolute;
                margin              : 0;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "BelleroseLight", Helvetica, Arial, serif;
                font-size           : 24.0px;
                color               : rgba(255, 255, 255, 1.0);
                text-align          : center;
                line-height         : 57.0px;
            }
            .homepage-yW88 .restaurants .group .numa {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                right               : 0.14%;
                bottom              : 5.23%;
                height              : calc(0.00% + 49px);
                width               : 30.72%;
                position            : absolute;
                margin              : 0;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "BelleroseLight", Helvetica, Arial, serif;
                font-size           : 24.0px;
                color               : rgba(255, 255, 255, 1.0);
                text-align          : center;
                line-height         : 57.0px;
            }
            .homepage-yW88 .restaurants .p351titionsencourel {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                right               : 9.92%;
                bottom              : -0.22%;
                height              : calc(0.00% + 114px);
                width               : 79.34%;
                position            : absolute;
                margin              : 0;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
                font-family         : "BelleroseLight", Helvetica, Arial, serif;
                font-size           : 40.0px;
                color               : rgba(74, 73, 74, 1.0);
                text-align          : center;
                line-height         : 24.0px;
            }
            .homepage-yW88 .line2copy {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 775px;
                height              : 3px;
                width               : 954px;
                position            : absolute;
                margin              : 0;
                left                : 43px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88 .line2copy2 {
                pointer-events      : none;
                background-color    : rgba(255,255,255,0.0);
                top                 : 1015px;
                height              : 2px;
                width               : 954px;
                position            : absolute;
                margin              : 0;
                left                : 43px;
                -ms-transform       : rotate(0deg); /* IE 9 */
                -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
                transform           : rotate(0deg);
            }
            .homepage-yW88.state0 {
                
            }
