
.homepage {
 background: url(vegan.jpg) no-repeat center center / cover ;
 width: 100%;
 overflow: hidden;
}

.text{
	margin-top: 20%;
	font-family: Andale Mono;
	font-style: bold;
}



#button{
	text-align:center;
	margin:auto;
	
}
