@import "variables";


/******************* HEADER **********************/

.backjpg {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(165deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
	background: url('homePageImgOpacity.png') 50% 50% no-repeat;
	background-size: cover;
	overflow: hidden;
	display: table;
}

.pimpmy {
	margin: 7%;
	margin-top: 1px;
	font-size: 120%;
	display: flex;
	text-align: center;
	color: #000000;
}

.middleText {
	margin-top: 3%;
	font-family: $PimpTextFont;
}

.toplogo {
	margin-bottom: -5%;
	vertical-align: middle;
}

.toplogo2{
	text-align: center;
	margin-bottom: 2%;
	display: table;
	max-width: 100%;
	height: auto;
	display: block;
}

.toplogo1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

/*	display: flex;
	align-items: center;
	margin-bottom: 2%;
	display: table;
	max-width: 100%;
	height: auto;
	display: block;*/
}

.accroche {
 font-family: $PimpTextLightFont;
 font-size: 130%;
 letter-spacing: 3px;
}

.arrowHome {
	margin: 4%;
	width: auto;
}

/******************* LANCE TON ENQUETE BOUTON **********************/

.buttonHomePage {
	display: flex;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em 0;
    padding: 0;
}

/******************* LES PTITS COMMENTS **********************/

.ThreeComments{
	display: flex;
	text-align: center;
	margin-bottom: 5em;
}

.ThreeCommentsTitle {
	font-family: $PimpParagrapheFont;
	font-size: 160%;
}
 
/******************* RESPONSIVE WEB SITE **********************/


@media all and (max-width: 1000px) and (min-width: 700px) {
  .class {
   margin:40%;
  }
}
