
.image-content {
  display: flex;
  float: left;
  width: 60%;
  height: 70%;
  margin-left: 0;
}

/*.content_img {
	position: absolute;
  max-width: 1100px;
  height: auto;

}

/*button css 
.button {
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 0;
	align-items: center;
	justify-content: space-around;
	display: flex;
	float: none;
	color: black;
}*/

header{
 background: url(vegan.jpg) no-repeat center center / cover;
 height: 100%;
 width: 100%;
 opacity:0.50;
}



