
/*@font-face {
                          font-family: "BelleroseLight";
                          src: url('../fonts/Bellerose.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "MicrosoftSansSerif";
                          src: url('../fonts/Microsoft Sans Serif.ttf') format("truetype");
                        }*/
                        
@import url(//db.onlinewebfonts.com/c/b9098bae684de3978d5959ed7a232e09?family=Bellerose);

.lancestonenquete {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1295px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.lancestonenquete .benjaminranger770022unsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 691px;
  width               : 1037px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.53;
}
.lancestonenquete .recherche {
  background-color    : rgba(255,255,255,0.0);
  top                 : 291px;
  height              : 30px;
  width               : 515px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lancestonenquete .recherche .calltoactioncopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 348px;
  position            : relative;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lancestonenquete .recherche .calltoactioncopy .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1px;
  height              : 29px;
  width               : 348px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lancestonenquete .recherche .calltoactioncopy .restou2026 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 309px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.lancestonenquete .choisistonrestaura {
  background-color    : rgba(255,255,255,0.0);
  top                 : 171px;
  height              : auto;
  width               : 860px;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "BelleroseLight", Helvetica, Arial, serif;
  font-size           : 53.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 53.0px;
}
.lancestonenquete .choisistonrestaura .span1 {
  line-height         : 124.0px;
}
.lancestonenquete .choisistonrestaura .span2 {
  font-size           : 59.0px;
  color               : rgba(0, 0, 0, 1.0);
  line-height         : 139.0px;
}
.lancestonenquete .choisistonrestaura .span3 {
  line-height         : 124.0px;
}
.lancestonenquete .restaurants {
  background-color    : rgba(255,255,255,0.0);
  top                 : 794px;
  height              : 450px;
  width               : 726px;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lancestonenquete .restaurants .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 344px;
  width               : 726px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lancestonenquete .restaurants .group .anniespratt215756unsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 344px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lancestonenquete .restaurants .group .tylernix489782unsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 344px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 495px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lancestonenquete .restaurants .group .brookelark194252unsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 344px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 247px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lancestonenquete .restaurants .group .numa311 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 277px;
  height              : auto;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "BelleroseLight", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 57.0px;
}
.lancestonenquete .restaurants .group .jumparena {
  background-color    : rgba(255,255,255,0.0);
  top                 : 277px;
  height              : auto;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 255px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "BelleroseLight", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 57.0px;
}
.lancestonenquete .restaurants .group .numa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 277px;
  height              : auto;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 502px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "BelleroseLight", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 57.0px;
}
.lancestonenquete .restaurants .p351titionsencourel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 337px;
  height              : auto;
  width               : 576px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "BelleroseLight", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.lancestonenquete .restaurants .p351titionsencourel .span1 {
  line-height         : 94.0px;
}
.lancestonenquete .restaurants .p351titionsencourel .span2 {
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  font-size           : 24.0px;
  line-height         : 33.0px;
}
.lancestonenquete .line2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 743px;
  height              : 2px;
  width               : 954px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}