
/*@font-face {
                          font-family: "BelleroseLight";
                          src: url('../fonts/Bellerose.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "MicrosoftSansSerif";
                          src: url('../fonts/Microsoft Sans Serif.ttf') format("truetype");
                        }*/
                        
@import url(//db.onlinewebfonts.com/c/b9098bae684de3978d5959ed7a232e09?family=Bellerose);

.backjpgLTE {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(165deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  background: url('lances-ton-enquete.png') 50% 50% no-repeat;
  background-size: cover;
  overflow: hidden;
/*  display: table;
*/}

.pimpmyLTE {
  margin: 7%;
  font-size: 120%;
  display: flex;
  text-align: center;
  color: #000000;
}

.LaRechercheContainer{
  margin: 3%;
  font-family: $PimpTextFont;
  display: flex;
  justify-content: center;
}

.rechercheButtons {
  display: flex;
  flex-direction: row;
}

.rounded {
  width: 20rem;
  }

.rounded:focus {
  outline: none;
}