#encule{
  text-align: center;
}


i{
    margin-top: 10px;
}
    
    
    
.p-2 {

    margin-bottom: 3%;
    
}



.bastard{
    text-align: center;
    margin-top: 5%;
}


.restos{
    background-color: #539528;
    margin: 10%;
    height: 30px;

    a {
        color: #ddd;
        text-decoration: none;
        }
        a:hover {
        color: #aaa;
        font-size: 3rem;
        }
}







            /*==========================================================
                           counter section style
            ============================================================*/

            .main_counter_area{
                background: url(https://images.pexels.com/photos/196288/pexels-photo-196288.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) no-repeat top center;
                background-size: cover;
                overflow: hidden;
            }
            .main_counter_area .main_counter_content .single_counter{
                background: rgba(236, 72, 72, 0.5);
                    color: #fff;


            }
            .main_counter_area .main_counter_content .single_counter i{
                font-size:36px;

            }



.title {
   margin-top: 3%;
   animation-duration: 3s;
   animation-name: slidein;
   font-size: 80px;
   text-align: center;

}

@keyframes slidein {
     from {
   margin-left: 100%;
   width: 300%;
 }

 to {
   margin-left: 0%;
   width: 100%;
 }
}



.awesome {

 font-family: futura;
 font-style: italic;

 width:100%;

 margin: 0 auto;
 text-align: center;

 color:#313131;
 font-size:45px;
 font-weight: bold;

 -webkit-animation:colorchange 20s infinite alternate;


}

@-webkit-keyframes colorchange {
 0% {

   color: blue;
 }

 10% {

   color: #8e44ad;
 }

 20% {

   color: #1abc9c;
 }

 30% {

   color: #d35400;
 }

 40% {

   color: blue;
 }

 50% {

   color: #34495e;
 }

 60% {

   color: blue;
 }

 70% {

   color: #2980b9;
 }
 80% {

   color: #f1c40f;
 }

 90% {

   color: #2980b9;
 }

 100% {

   color: pink;
 }
}
