
/* RESTO DROPDOWN */
.resto select {
	position: relative;
	top: 27px;
   border: 0;
   color: white;
   background: #0d5d99;
   font-size: 20px;
   font-weight: bold;
   padding: 4px 8px;
   width: 280px;
   *width: 280px;
   *background: #b1d6ff;
   -webkit-appearance: none;
   float: right;
   margin-right: 390px;
}

.resto label{
	position: relative;
	top: 70px;
	margin-left: 130px;
	font-family: Andale Mono;
	font-size: 1.3em;
	letter-spacing: 0.001px;
}

/* PREFERENCES DROPDOWN */
.prefer select {
	position: relative;
	top: 77px;
   border: 0;
   color: white;
   background: #0d5d99;
   font-size: 20px;
   font-weight: bold;
   padding: 4px 8px;
   width: 280px;
   *width: 280px;
   *background: #b1d6ff;
   -webkit-appearance: none;
   float: right;
   margin-right: 390px;
}

.prefer label{
	position: relative;
	top: 115px;
	float: left;
	margin-left: 130px;
	font-family: Andale Mono;
	font-size: 1.3em;
	letter-spacing: 0.001px;
}

/* MEAL CATEGORY DROPDOWN */
.foodstyle select {
	position: relative;
	top: 124px;
   border: 0;
   color: white;
   background: #0d5d99;
   font-size: 20px;
   font-weight: bold;
   padding: 4px 8px;
   width: 280px;
   *width: 280px;
   *background: #b1d6ff;
   -webkit-appearance: none;
   display: inline;
   float: right;
   margin-right: 390px;
}

.foodstyle label{
	position: relative;
	top: 160px;
	float: left;
	margin-left: 130px;
	font-family: Andale Mono;
	font-size: 1.3em;
	letter-spacing: 0.001px;
}

/* BUDGET DROPDOWN */
.budget select {
   position: relative;
	top: 166px;
   border: 0;
   color: white;
   background: #0d5d99;
   font-size: 20px;
   font-weight: bold;
   padding: 4px 8px;
   width: 280px;
   *width: 280px;
   *background: #b1d6ff;
   -webkit-appearance: none;
   display: inline;
   float: right;
   margin-right: 330px;
}

.budget label{
	position: relative;
	top: 205px;
	float: left;
	margin-left: 130px;
	font-family: Andale Mono;
	font-size: 1.3em;
	letter-spacing: 0.001px;
}

/* PROXIMITÉ DROPDOWN */
.distance select {
	position: relative;
	top: 210px;
   border: 0;
   color: white;
   background: #0d5d99;
   font-size: 20px;
   font-weight: bold;
   padding: 4px 8px;
   width: 280px;
   *width: 280px;
   *background: #b1d6ff;
   -webkit-appearance: none;
   display: inline;
   float: right;
   margin-right: 348px;
}

.distance label{
	position: relative;
	top: 250px;
	float: left;
	margin-left: 130px;
	font-family: Andale Mono;
	font-size: 1.3em;
	letter-spacing: 0.001px;
}

/* FREQUENCE DROPDOWN */
.frequence select {
	position: relative;
	top: 277px;
	display: inline-block;
   border: 0;
   color: white;
   background: #0d5d99;
   font-size: 20px;
   font-weight: bold;
   padding: 4px 8px;
   width: 280px;
   *width: 280px;
   *background: #b1d6ff;
   -webkit-appearance: none;
   float: right;
   margin-right: 270px;
   
}

.frequence label{
	position: relative;
	top: 285px;
	float: left;
	margin-left: 130px;
	font-family: Andale Mono;
	font-size: 1.3em;
	letter-spacing: 0.001px;
}

#btn {
	position: absolute;
	top: 659px;
	margin: 0 auto;
	background-color: #a8bedf; 
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

	
}