* {
   box-sizing: border-box;
}

.bodycard {
	margin-top: 7%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
	padding: 0;
}

.card{
	float:left;
	width: 20%;
	margin-right: 10px;
}

.row::after {
	content: "";
	clear: both;
	display:table;
}

.card{
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
   transition: 0.3s;
   width: 32%;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
   padding: 2px 16px;
}

.card-avatar {
	height: 250px;
	width: 250px;
    border-radius: 100%;
}
