<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stepper.scss">
  </head>

   <body>
    <h2> </h2>
    <div class="stepper">
      <input class="stepper__input" id="stepper-5-0" name="stepper-5" type="radio" checked="checked"/>      
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-5-0"></label>
        <!-- <p class="stepper__content">Description</p>-->

    <!-- FOOD STYLE -->  
        <button type="button" class="btn btn-outline-primary">Vegan</button>
        <button type="button" class="btn btn-outline-primary">Veggie</button>
        <button type="button" class="btn btn-outline-primary">Gluten Free</button>

        <button class="continue" href="/foodstyle"><%= link_to "Continue", foodstyle_path%></button>

      </div>
      <input class="stepper__input" id="stepper-5-1" name="stepper-5" type="radio"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-5-1"></label>
        <p class="stepper__content">Duration</p>
      </div>
      <input class="stepper__input" id="stepper-5-2" name="stepper-5" type="radio"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-5-2"></label>
        <p class="stepper__content">Due Time</p>
      </div>

      </div>
    </div>
  </li>
  
</section>

</body>