<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="application.js"></script>
  </head>

   <body>
    <h2> </h2>
    <div class="stepper">
      <input class="stepper__input" id="stepper-5-0" name="stepper-5" type="radio" checked="checked"/>      
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-5-0"></label>
        <p class="stepper__content">Description</p>
        <button class="navbar-brand" href="#"><%= link_to "Continue", foodstyle_path%></button>

      </div>
      <input class="stepper__input" id="stepper-5-1" name="stepper-5" type="radio"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-5-1"></label>
        <p class="stepper__content">Duration</p>
      </div>
      <input class="stepper__input" id="stepper-5-2" name="stepper-5" type="radio"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-5-2"></label>
        <p class="stepper__content">Due Time</p>
      </div>
      <input class="stepper__input" id="stepper-5-3" name="stepper-5" type="radio"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-5-3"></label>
        <p class="stepper__content">youpi</p>
      </div>
      <input class="stepper__input" id="stepper-5-4" name="stepper-5" type="radio"/>
      <div class="stepper__step">
        <label class="stepper__button" for="stepper-5-4"></label>
        <p class="stepper__content">clapou</p>
      </div>
    </div>
  </li>
  
</section>

</body>