<p>Hello <%= @email %> !</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons car votre email a été modifié par le suivant : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons car votre email a été modifié par le suivant : <%= @resource.email %>.</p>
<% end %>
